:root {
    --background:linear-gradient(135deg, #5e75db7e 0%, #4c2d6b98 100%);
    --color-primary: #667eea;
    --color-secondary: #764ba2;
    --boton-padding: 20px 40px;
}

body {
    font-family:'Josefin Sans', sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0px;
    max-width: 1200px;
}

.subtitle{
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 35px;
}

.portada{
    height: 100vh;
    background-image: var(--background), url(/Imagenes/Portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.portada .container{
    padding: 0;
    display:flex;
    flex-direction:column;
}



/* Estilos para celulares */

@media (max-width: 600px) {
    header .container .nav{
        flex-direction: column;
    }
}
@media (max-width:600px) {
    .portada__title {
        font-size: 24px;
    }
    .portada__subtitle {
        font-size: 16px;
    }
    .portada__boton{
        font-size: 14px;
    }
    .quienessomos__parrafo, .quienessomos__parrafo2 {
        font-size: 14px;
    }
    .planes{
        flex-direction: column;
    }
    .planes__title{
        font-size: 14px;
    }
    .planes__info p {
        font-size: 14px;
    }
    .consultaonline__parrafo{
        font-size: 14px;
    }
    .footer__title{
        font-size: 20px;
    }
    .nav__footer{
        font-size: 14px;
    }
}

/* Estilos para Tablets y pc */

@media (min-width: 1400px) {
    header .container .portada__estilo .nav{
    flex-direction: column;
}
}

@media (min-width: 1400px) {
    .portada__title{
        font-size: 48px;
    }
    .portada__subtitle {
        font-size: 24px;
    }
    .portada__boton{
        font-size: 18px;
    }
    .quienessomos__parrafo, .quienessomos__parrafo2 {
        font-size: 16px;
    }
    .planes__title {
        font-size: 32px;
    }
    .planes__info p{
        font-size: 16px;
    }
    .consultaonline__parrafo{
        font-size: 16px;
    }
    .footer__title{
        font-size: 24px;
    }
    .nav__footer{
        font-size: 16px;
    }
}

.nav {
    display: flex;
    justify-content: flex-end;
    height: 70 px;
    align-items: center;
    font-size: x-large;
    font-weight: 400;
}

.nav__items {
    color: #c7f0dd;
    text-decoration: none;
    margin-right: 25px;
    padding: 10x 20px;
    font-weight: inherit;
    margin-top: 25px;
}

.portada__boton, .planes__boton, .consultaonline__boton {
    border: 1.5px solid #fff;
}

.portada__estilo {
    display: flex;
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

/* .portada__logo {
    margin-left: 20px;
    margin-top: 20px;
} */

.portada__title{
    font-size: 4rem;
    color: #7ae4d7;
    margin-top: 90px;
    text-align: center;
    width: 100%;
}

.portada__subtitle {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 400;
    margin: 50px 0;
    text-align: center;
    width: 100%;
}

.portada__boton {
    display: inline-block;
    background: #fff;
    padding: var(--boton-padding);
    color: var(--color-primary);
    text-decoration:none;
    border-radius: 40px;
    font-size:x-large;
    margin-left: 450px;
}

button {
    display: inline-block;
    background: #fff;
    padding: var(--boton-padding);
    color: var(--color-primary);
    text-align: center;
    text-decoration:none;
    font-size:x-large;
    border-radius: 400px;
}

a, button{
    text-decoration: none;
    color: var(--color-primary);
}

/* Quienes Somos */

.quienessomos{
    min-height: 80px;
    margin-top: 20px;
    justify-items: center;
    align-items: center;
    background: linear-gradient(135deg, #eef8f7 100%, #b9f1f8 0%);
}

.quienessomos .subtitle{
    margin-bottom: 20px;
    margin-top: 0;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
}

.quienessomos__parrafo {
    margin-bottom: 20px;
    margin-top: 0;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
    font-size: large;
    color: #187964;

}
.quienessomos__parrafo2 {
    margin-bottom: 20px;
    margin-top: 0;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
    font-size: large;
    color: #187964;
}


/* contenido planes*/

 img{
    max-width: 100%;
}
.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    transition: all .5s;
}

.planes .subtitle{
    margin-top: 100px;
    margin-bottom: 70px;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
}

.container__items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.item {
    border-radius: 10px;
    background-color: #e9f3fa;
}

.item:hover{
    box-shadow: 0 20px 30px rgba(2, 19, 16, 0.2);
    color: #1d8b7d;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

 .planes__info{
    margin: 30px 30px 50px 50px;
    margin-bottom: 70px;
    line-height: 1.2;
    font-weight: 300;
    font-size: 1.75rem;
    text-align: center;
    color: #18145798;
}
.planes__title{
    text-align: center;
    color: #9251bd;
    font-size: 1.75rem;
    font-weight: 400;
    margin-top: 0;
}

ul {
list-style-type: none;
}

.planes__info button {
    display:inline-block;
    background: #c2d3f1;
    padding: 10px 20px;
    text-decoration:none;
    border-radius: 40px;
    font-size:1.2rem;
    text-align: center;
    color: #030122;
    }

button:hover{
    color:#d326b6;
    cursor: pointer;
}

a:hover{
     color:#d326b6;
}

a .title {
    text-decoration: none;
    color: #fff;
}

/* Consulta Online */

.consultaonline__container{
    padding-top: 0;
    text-align: center;
    margin-top: 100px;
}
.consultaonline__foto{
    width: 350px;
    height: 250px;
    border-radius: 10%;
    margin-bottom: 10px;
    object-fit: cover;
    transition: all .5s;
    }

.consultaonline__foto:hover{
    transform: scale(1.2);
    box-shadow: 0 20px 30px rgba(2, 19, 16, 0.2);
    color: #1d8b7d;
    overflow: hidden;
}

.consultaonline .subtitle {
    margin-bottom: 20px;
    margin-top: 70px;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
}

.consultaonline__parrafo{
    margin: 30px 30px 50px 50px;
    margin-bottom: 70px;
    line-height: 1.2;
    font-weight: 300;
    font-size: 1.75rem;
    text-align: center;
    color: #18145798;
}

button .consultaonline {
    display:inline-block;
    background: #cee5f5;
    padding: 10px 20px;
    color: var(--color-primary);
    text-decoration:none;
    border-radius: 40px;
    font-size:2rem;
    align-items: center;
    justify-items: center;
    cursor: pointer;
}

/* Footer */

footer{
    background-color: var(--color-primary);
}

.container__footer{
    display: grid;
    grid-template-columns:auto;
    margin: 60px;
}

.footer__title{
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    font-size: 1.75rem;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 50px;
}

.footer__icons{
    display: flex;
    justify-content: center;
}

.footer__icons i {
    font-size: 30px;
    padding: 0 20px;
    color: #fff;
}


.copyright {
    color: #fff;
    text-align: center;
    margin-top: 100px;
}


.nav__footer{
    color: #c7f0dd;
    text-decoration: none;
    padding: 10px;
    font-weight: inherit;
    display: flex;
    justify-content:flex-end;
    font-weight: 400;
    font-size: 1rem;
}
