:root {
    --background: linear-gradient(135deg, #5e75db7e 0%, #4c2d6b98 100%);
    --color-primary: #667eea;
    --color-secondary: #764ba2;
    --boton-padding: 20px 40px;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    padding-left: 2%;
    padding-right: 2%;
}

.subtitle {
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 2.1875rem;
}

/* Estilos para celulares */

@media (max-width: 600px) {
    header .container .nav {
        flex-direction: column;
    }
}

@media (max-width:600px) {

    .quienessomos__parrafo,
    .quienessomos__parrafo2 {
        font-size: 0.875rem;
    }

    .planes {
        flex-direction: column;
    }

    .planes__title {
        font-size: 0.875rem;
    }

    .planes__info p {
        font-size: 0.875rem;
    }

    .consultaonline__parrafo {
        font-size: 0.875rem;
    }

    .footer__title {
        font-size: 1.25rem;
    }

    .nav__footer {
        font-size: 0.875rem;
    }
}


.head {
    color: #c7f0dd;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    padding-top: .75rem;
    padding-bottom: .75rem;
    position: absolute;
}

.nav {
    text-align: center;
}

.nav__items {
    font-size: 1.1em;

    display: inline-block;

    margin-right: .7em;
    margin-bottom: .7em;
    margin-left: .7em;
}


.portada {
    background-image: var(--background),
        url(/Imagenes/Portada.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-top: 8.25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #c7f0dd;
    text-align: center;
    justify-content: space-between;
    height: 100%;
}

.texto__portada {
    padding-bottom: 3em;
    font-size: 16px;
}


.portada__boton,
.planes__boton,
.consultaonline__boton {
    border: 1.5px solid #fff;
}

.portada__logo {
    width: 30%;
    margin-bottom: 1em;
}

.portada__title {
    font-size: 3.25em;
    font-weight: 700;
    text-transform: uppercase;
    color: #7ae4d7;
    margin-bottom: .5rem;
}

.portada__subtitle {
    color: #fff;
    font-size: 1.25em;
    line-height: normal;
    margin: 0 auto 2.5em;
}

.portada__boton {
    display: inline-block;
    background: #fff;
    padding: var(--boton-padding);
    color: var(--color-primary);
    font-size: 1.5em;
    text-decoration: none;
    border-radius: 40px;
}

.portada__estilo {
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6.25em;
}

button {
    display: inline-block;
    background: #fff;
    padding: var(--boton-padding);
    color: var(--color-primary);
    text-align: center;
    text-decoration: none;
    font-size: x-large;
    border-radius: 400px;
}

a,
button {
    text-decoration: none;
    color: var(--color-primary);
}

/* Sección responsive head y portada*/
@media (max-width: 900px) {

    .head,
    .texto__portada {
        font-size: 14px;
    }

    .portada__logo {
        width: 25%;
    }
}

@media (max-width: 768px) {
    .head {
        flex-direction: column;
    }

    .head,
    .texto__portada {
        font-size: 13px;
    }

    .portada__logo {
        width: 30%;
    }
}


/* Quienes Somos */

.quienessomos {
    min-height: 80px;
    margin-top: 20px;
    justify-items: center;
    align-items: center;
    background: linear-gradient(135deg, #eef8f7 100%, #b9f1f8 0%);
}

.quienessomos .subtitle {
    margin-bottom: 20px;
    margin-top: 0;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
}

.quienessomos__parrafo {
    margin-bottom: 20px;
    margin-top: 0;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
    font-size: large;
    color: #187964;

}

.quienessomos__parrafo2 {
    margin-bottom: 20px;
    margin-top: 0;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
    font-size: large;
    color: #187964;
}


/* contenido planes*/

img {
    max-width: 100%;
}

.item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    transition: all .5s;
}

.planes .subtitle {
    margin-top: 100px;
    margin-bottom: 70px;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
}

.container__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.item {
    border-radius: 10px;
    background-color: #e9f3fa;
}

.item:hover {
    box-shadow: 0 20px 30px rgba(2, 19, 16, 0.2);
    color: #1d8b7d;
}

.item figure {
    overflow: hidden;
}

.item:hover img {
    transform: scale(1.2);
}

.planes__info {
    margin: 30px 30px 50px 50px;
    margin-bottom: 70px;
    line-height: 1.2;
    font-weight: 300;
    font-size: 1.75rem;
    text-align: center;
    color: #18145798;
}

.planes__title {
    text-align: center;
    color: #9251bd;
    font-size: 1.75rem;
    font-weight: 400;
    margin-top: 0;
}

ul {
    list-style-type: none;
}

.planes__info button {
    display: inline-block;
    background: #c2d3f1;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 40px;
    font-size: 1.2rem;
    text-align: center;
    color: #030122;
}

button:hover {
    color: #d326b6;
    cursor: pointer;
}

a:hover {
    color: #d326b6;
}

a .title {
    text-decoration: none;
    color: #fff;
}

/* Consulta Online */

.consultaonline__container {
    padding-top: 0;
    text-align: center;
    margin-top: 100px;
}

.consultaonline__foto {
    width: 350px;
    height: 250px;
    border-radius: 10%;
    margin-bottom: 10px;
    object-fit: cover;
    transition: all .5s;
}

.consultaonline__foto:hover {
    transform: scale(1.2);
    box-shadow: 0 20px 30px rgba(2, 19, 16, 0.2);
    color: #1d8b7d;
    overflow: hidden;
}

.consultaonline .subtitle {
    margin-bottom: 20px;
    margin-top: 70px;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
}

.consultaonline__parrafo {
    margin: 30px 30px 50px 50px;
    margin-bottom: 70px;
    line-height: 1.2;
    font-weight: 300;
    font-size: 1.75rem;
    text-align: center;
    color: #18145798;
}

button .consultaonline {
    display: inline-block;
    background: #cee5f5;
    padding: 10px 20px;
    color: var(--color-primary);
    text-decoration: none;
    border-radius: 40px;
    font-size: 2rem;
    align-items: center;
    justify-items: center;
    cursor: pointer;
}

/* Footer */

footer {
    background-color: var(--color-primary);
}

.container__footer {
    display: grid;
    grid-template-columns: auto;
    margin: 60px;
}

.footer__title {
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    font-size: 1.75rem;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 50px;
}

.footer__icons {
    display: flex;
    justify-content: center;
}

.footer__icons i {
    font-size: 30px;
    padding: 0 20px;
    color: #fff;
}


.copyright {
    color: #fff;
    text-align: center;
    margin-top: 100px;
}


.nav__footer {
    color: #c7f0dd;
    text-decoration: none;
    padding: 10px;
    font-weight: inherit;
    display: flex;
    justify-content: flex-end;
    font-weight: 400;
    font-size: 1rem;
}